.containerSection{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25em;
}

.positionMessage{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageGroup{
  display: flex;
  position: relative;
  top: -80px;
  width: 70%;
  height: 30%;
}

.titlePresentation{
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 9em;
  text-align: center;
}

/* .descriptionPresentation{
  color: #fff;
  font-size: 16pt;
  text-align: center;
  line-height: 30px;
} */

.logoTeam{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logoImagen{
  position: relative;
  top: -80px;
  width: 90%;
  height: 90%;
  opacity: 0;
}

/* .descriptionPresentation{
  animation: entradaDescripcion 5s ease 0s forwards;
} */

/* .titlePresentation{
  animation: entradaTitulo 5s ease 0s forwards;
} */

.logoImagen{
  animation: entradaTeam 5s ease 4s forwards;
}

.titleW{
  animation: entradaW 3s ease 1s forwards;
  opacity: 0;
}

.titleE1{
  animation: entradaE 3s ease 1.3s forwards;
  opacity: 0;
}

.titleL{
  animation: entradaL 3s ease 1.6s forwards;
  opacity: 0;
}

.titleC{
  animation: entradaC 3s ease 1.9s forwards;
  opacity: 0;
}

.titleO{
  animation: entradaO 3s ease 2.2s forwards;
  opacity: 0;
}

.titleM{
  animation: entradaM 3s ease 2.5s forwards;
  opacity: 0;
}

.titleE{
  animation: entradaE 3s ease 2.8s forwards;
  opacity: 0;
}







/* 
@keyframes entradaDescripcion{
  from{
    transform: translateX(-55px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
} */



/* @keyframes entradaTitulo{
  from{
    transform: translateY(-75px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
} */

@keyframes entradaTeam{
  from{
    transform: translateY(105px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

/*ENTRADA DE LAS LETRAS W-E-L-C-O-M-E*/

@keyframes entradaW{
  from{
    transform: translateY(-105px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaE{
  from{
    transform: translateY(-105px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaL{
  from{
    transform: translateY(-105px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaC{
  from{
    transform: translateY(-105px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaO{
  from{
    transform: translateY(-105px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaM{
  from{
    transform: translateY(-105px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaE{
  from{
    transform: translateY(-105px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}





